section.project {
  padding: 20px;
  background-color: $bg-light;

  .tags {
    margin: 1.5rem 0;
  }


  .btn-back-wrapper {
    margin-bottom: 3rem;
    margin-top: 2%;
  }

  .btn-back {
    margin-left: 2%;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    color: $color-primary;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: $border-radius-base;
    transition: all 250ms linear;
    border: 5px solid $color-primary;

    &:hover {
      color: white;
      background-color: $color-primary;
    }
  }

  .hero-img-wrapper {
    margin-bottom: 3rem;
  }
  .hero-img {
    max-width: 980px;
    max-height: 500px;
    @include hdpi-image-query;
  }

  .links {
    padding: 1.5rem;
    margin-bottom: 1rem;
    a, i {
      font-size: 5rem;
      padding: 2rem;
      color: $color-fifth;

      &:hover {
        color: lighten($color-fifth, 15%);
      }
    }
  }

  article {
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    border-radius: $border-radius-base;
    background-color: white;
    padding: 2.5rem 3rem;
    margin-bottom: 3rem;

    h2.title {
      margin-bottom: 20px;
    }

    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
      color: $color-primary;
    }

    p {
      font-size: 1.9rem;
      line-height: 2.8rem;
      color: $color-fifth;
    }
  }

}

@media screen and (max-width: $screen-md) {
  section.project {
    .hero-img {
      max-width: 85%;
    }
    article p {
      font-size: 1.5rem;
      line-height: 2.4rem
    }
  }

}

@media screen and (max-width: $screen-sm) {

  section.project {
    padding: 0;
  }
  section.project .hero-img {
    max-width: 95%;
  }
  section.project .links {
    padding: 0;
  }
  section.project .links a {
    font-size: 3.5rem;
    margin: 0;
  }
  section.project article {
    padding: 2rem 1rem;
  }
}
