<div class="col-md-6">
  <a href="{{ portfolio.url | relative_url }}">
    <img class="text-center" src="{{ portfolio.thumbnail }}" alt="Bild på {{ portfolio.title }}">
  </a>
</div>
<div class="col-md-6">
  <a class="title-link" href="{{ portfolio.url | relative_url }}">{{ portfolio.title | escape }}</a>
  <p>{{ portfolio.desc }}</p>
  {% for tag in portfolio.tech %}
    <span class="tag">{{ tag }}</span>
  {% endfor %}
  <div class="links">
    <a href="{{ portfolio.url | relative_url }}">Mer info</a>
    {% if portfolio.website %}
      <a  target="_blank" href="{{ portfolio.website }}">Besök</a>
    {% endif %}
  </div>
</div>
