section.post {
  min-height: 89vh;

  .title {
    margin-bottom: 8px;
    // font-size: 5rem;
  }

  .post-info {
    color: lighten($color-fifth, 30%);
    font-size: 1.2em;
    margin-top: 0;
    span {
      margin: 10px;
      font-weight: normal;
    }
  }

  article {

    img {
      max-width: 100%;
    }
  }
}

.button-back-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@include mq-max($screen-sm) {
  section.post {
    .post-info {
      span {
        display: block;
      }
    }
  }
}
