section.project {
  background-color: $bg-light;


  .project-hero {
    padding: 20px;
  }

  .tags {
    margin: 1.5rem 0;
  }


  .btn-back-wrapper {
    margin-bottom: 3rem;
    margin-top: 2%;
  }

  .btn-back {
    margin-left: 2%;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    color: $color-primary;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: $border-radius-base;
    @include cta-transitions(250ms);
    border: 5px solid $color-primary;

    &:hover {
      color: white;
      background-color: $color-primary;
      padding: 1rem 3rem;
    }
  }

  .hero-img-wrapper {
    margin-bottom: 3rem;
  }
  .hero-img {
    max-width: 980px;
    max-height: 500px;
    @include hdpi-image-query;
  }

  .links {
    padding: 1.5rem;
    margin-bottom: 1rem;
    a, i {
      font-size: 5rem;
      padding: 2rem;
      color: $color-fifth;

      &:hover {
        color: lighten($color-fifth, 15%);
      }
    }
  }

  article {
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    border-radius: $border-radius-base;
    background-color: white;
    padding: 2.5rem 3rem;
    margin-bottom: 3rem;

    h2.title {
      margin-bottom: 20px;
    }

    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
      color: $color-fifth;
    }

    p, div.heroku-info {
      font-size: 1.9rem;
      line-height: 2.8rem;
      color: $color-fifth;
    }

    div.heroku-info {
        margin-left: 10px;
        border-left: 5px solid $color-primary;
        background-color: lighten($color-primary, 48%);
        p {
          padding: 5px;
        }
    }
  }

}

@include mq-max ($screen-md) {
  section.project {
    .hero-img {
      max-width: 85%;
    }
  }

}

@include mq-max ($screen-sm) {

  section.project .project-hero .btn-back-wrapper {
    padding-bottom: 30px;
  }

  section.project article div.heroku-info {
    margin-left: 0px;
  }

  section.project .hero-img {
    max-width: 95%;
  }
  section.project .links {
    padding: 0;
  }
  section.project .links a {
    font-size: 3.5rem;
    margin: 0;
  }
  section.project article {
    padding: 2rem 1rem;
  }
}
