.link-dark {
  color: $color-fifth;

  &:hover {
    color: $color-fifth;
    text-decoration: underline;
  }
}

.bg-light {
  background-color: $bg-light
}

.content {
  border-radius: $border-radius-base;
  background-color: white;
  padding: 2.5rem 3rem;
  margin-bottom: 3rem;

  a:hover {
    text-decoration: underline;
  }

  blockquote {
    border-left: 5px solid $color-primary;
    @include blockquote-bg();
  }

  h1.title, h2.title {
    margin-bottom: 20px;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $color-fifth;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }
  p, li {
    font-size: 1.9rem;
    line-height: 2.8rem;
    color: $color-fifth;
  }
  li {
    margin: 0.8rem 0;
  }
  p {
    overflow-wrap: break-word;    
  }

}

@include mq-max ($screen-sm) {
  .content {
    padding: 2rem 1rem;
  }
}
