<section class="about">
  <div class="container">
    <div class="col-md-offset-1">
      <h2>Hej!</h2>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p class="bio">
          Jag heter Daniel och jag  skapar webbplatser och webappar. När jag inte knackar kod eller lyssnar på podcasts om kod ser jag gärna en sci-fi film eller senaste avsnittet av Westworld.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Utbildning</h3>
        <p>Kandidatexamen i Informatik - 2016</p>
        <h3>Axplock av kurser</h3>
        <p>Människa-dator-interaktion</p>
        <p>Webbapplikationer för mobila enheter</p>
        <p>Databasdrivna webbapplikationer med PHP och MVC-ramverk</p>
      </div>
    </div>
  </div>
</section>
