<section class="about">
  <div class="container">
    <div class="col-sm-offset-2">
      <h2>Hej!</h2>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2">
        <p class="bio">
          {{ site.data.me.bio }}
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Utbildning</h3>
        <p>Kandidatexamen i Informatik - 2017</p>
        <h3>Axplock av kurser</h3>
        {% for course in site.data.me.courses %}
          <p>{{course.name}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
