<section class="about">
  <div class="container">
    <div class="col-md-offset-1">
      <h2>👋 Hallå där!</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <p class="bio">
          {{ site.data.me.bio.firstSection }}
        </p>
        <p class="bio">
          {{ site.data.me.bio.lastSection }}
        </p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h3>Tidigare erfarenheter</h3>
        <ul>
          {% for work in site.data.me.work %}
          <li>{{ work.name }}</li>
        {% endfor %}
        </ul>
        {% if site.data.me.education %}
        <h3>Utbildning</h3>
        <ul>
          <li>{{ site.data.me.education }}</li>
        </ul>
        {% endif %}
        {% if site.data.me.courses %}
          <h3>Axplock av kurser</h3>
          <ul>
            {% for course in site.data.me.courses %}
              <li>{{ course.name }}</li>
            {% endfor %}
          </ul>
        {% endif %}

      </div>
    </div>
  </div>
</section>
