<section class="projects">

  <div class="container">
    <h3 id="portfolio" class="text-center">Portfolio</h3>
    <!-- Assign sorted order for portfolio projects -->
    {% assign sorted_portfolio = site.projects | sort:"order" %}
    <!-- loop through sorted portfolio items -->
    {% for portfolio in sorted_portfolio %}
      {% if portfolio.title %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card">
              <div class="row">
                <!-- Check what thumb-layout portfolio has -->
                {% if portfolio.thumb-layout == "right" %}
                  {% include card-content/_right.html %}
                <!-- if thumb-layout instead is left -->
                {% else %}
                  {% include card-content/_left.html %}
                <!-- end of layout check -->
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <h3 class="text-center">Mer på <a class="github-link" target="_blank" href="{{ site.data.me.github-url }}">GitHub</a></h3>
  </div>


</section>
