<section class="projects">

  <div class="container">
    <h3 id="portfolio" class="text-center">Portfolio</h3>
    <!-- Assign sorted order for portfolio projects -->
    {% assign sorted_portfolio = site.projects | sort:"order" %}
    <!-- loop through sorted portfolio items -->
    {% for portfolio in sorted_portfolio %}
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="{{ portfolio.title | slugify }}" class="card">
            <div class="row">
              {% include _portfolioCard.html %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <h3 class="text-center">Mer på <a class="github-link" target="_blank" href="{{ site.data.me.github-url }}">GitHub</a></h3>
  </div>


</section>
