<section class="technologies">
  <div class="container">
    <h2 class="text-center">{{ site.data.technologies.title }}</h2>
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center">
        {{ site.data.technologies.intro }}
      </p>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h3>Utveckling</h3>
        <div class="header-underline"></div>
        <ul>
          {% for tech in site.data.technologies.dev %}
            <li>{{ tech.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Övrigt</h3>
        <div class="header-underline"></div>
        <ul>
          {% for tech in site.data.technologies.other %}
            <li>{{ tech.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
