<section class="technologies">
  <div class="container">
    <h2 class="text-center">Tekniker</h2>
    <p class="text-center">
      Verktyg, koncept och tekniker som jag
      kommit i kontakt med och gärna använder
    </p>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <h3>Utveckling</h3>
        <div class="header-underline"></div>
        <ul>
          {% for tech in site.data.technologies.dev %}
            <li>{{ tech.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
        <h3>Övrigt</h3>
        <div class="header-underline"></div>
        <ul>
          {% for tech in site.data.technologies.other %}
            <li>{{ tech.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <p class="text-center pssst">
      <span>Pssst! Saknas något?</span>
      Jag lär mig gärna nya grejer och är det nått man känner till som frontend-utvecklare så är det att finns alltid nya spännande saker att sätta tänderna i.
    </p>
  </div>
</section>
