footer {
  height: 100px;
  background-color: $color-fifth;
  color: $color-footer;
  display: flex;
  justify-content: center;
  align-items: center;


  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
  }
  a {
    color: $color-footer;
    font-size: 3.2rem;
    padding: 0.5rem;
    &:hover {
      color: darken($color-footer, 15%);
    }
  }
}

@include mq-max($screen-sm) {
  footer {

    .container {
      width: 100%;
    }
    h2 {
      font-size: 2rem;
    }
    a {
      font-size: 2.5rem;
    }
  }
}
