.card {
  background-color: $bg-light;
  padding: 3rem;
  margin: 2rem;
  box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.2);
  border-radius: $border-radius-base;
  transition: box-shadow 150ms ease-in;

  span.tag {
    padding: .5rem 1rem;
    background-color: $color-primary;
    color: white;
    border-radius: $border-radius-base;
  }

  a.title-link {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: $color-third;
  }

  p {
    color: $color-fifth;
    font-size: 2.2rem;
  }

  img {
    max-width: 400px;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }

  div.links {
    padding-top: 3rem;
     a {
       font-family: 'Montserrat', sans-serif;
       color: $color-third;
       font-size: 2.4rem;
     }

     a:first-of-type {
       padding-right: 2rem;
     }
  }

}

.card:hover {
  box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.2);
}


@media screen and (max-width: $screen-lg) {
  .card {
    img {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .card {
    text-align: center;
    img {
      max-width: 450px;
      padding-bottom: 1.5rem;
    }
  }

}

@media screen and (max-width: $screen-sm) {
  .card {
    img {
      max-width: 80%;
    }
  }
}
