// colors
$color-primary: #6E5CA0;
$color-secondary: #5090A4;
$color-third: #46CAAC;
$color-fourth: #87E7B5;
$color-fifth: #656565;
$color-sitxh: #A8F6E5;
$bg-light: #F7F7F7;
$color-footer: #ABABAB;

$border-radius-base: 5px;

$padding-sections: 4.5rem;
