// colors
$color-primary: #6E5CA0;
$color-secondary: #5090A4;
$color-third: #46CAAC;
$color-fourth: #87E7B5;
$color-fifth: #656565;
$color-sitxh: #A8F6E5;
$bg-light: #F7F7F7;
$color-footer: #ABABAB;

// Section background colors
$bg-about-section: $bg-light;
$bg-contact-section: $color-primary;
$bg-hero-section: $color-primary;
$bg-projects-section: $color-third;
$bg-technologies-section: $color-secondary;

$border-radius-base: 4px;

$padding-sections: 4.5rem;

// animation speed for scale and shadow changes
$card-animation-speed: 250ms;
$cubic-bezier: cubic-bezier(0.68, -0.1, 0.265, 1.55);
