section.about {
  background-color: $bg-light;
  min-height: 400px;

  .container {
    padding-top: $padding-sections;
    padding-bottom: $padding-sections;
  }

  h2 {
    color: $color-primary;
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: $color-fifth;
    margin-top: 0px;
  }

  h3:last-of-type {
    padding-top: 2rem;
  }

  .bio {
    color: $color-fifth;
    line-height: 3.4rem;
    font-size: 2.5rem;
  }

  p, li {
    color: $color-primary;
    font-size: 2.2rem;
  }

  ul {
    padding-left: 0px;
    list-style: none;
  }

  li:before {
    content: '- ';
  }

  // Give some space between bio paragraph and education heading on smaller screens
  @include mq-max ($screen-md) {
    p:first-child {
      margin-bottom: 40px;
    }
  }

  @include mq-max ($screen-sm) {
    .bio, p {
      font-size: 2rem;
    }
  }

}
