section.contact {
  background: url('../../assets/img/contact-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 50vh;

  .overlay {
    background-color: transparentize($color-primary, 0.1);
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h2, a {
      color: white;
    }
    h2 {
      font-size: 5rem;
      padding-bottom: 1.4rem;
    }
    a {
      display: block;
      font-size: 2.5rem;
      text-decoration: none;

      &:first-of-type {
        padding-bottom: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include mq-max ($screen-sm) {
  section.contact h2 {
    font-size: 3.5rem !important;
  }
}
