#projects {

  background: url('../../assets/img/bg.svg');
  background-repeat: repeat;
  background-size: 800px;
  background-color: $bg-projects-section;


  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    padding-top: $padding-sections;
    padding-bottom: $padding-sections;
  }

  h3 {
    font-size: 4rem;
    color: $color-sitxh;

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  .github-link {
    font-weight: bold;
    color: $color-sitxh;
    text-decoration: none;
    border-bottom: 4px solid $color-sitxh;
    transition:
      color 100ms linear,
      border-bottom 100ms linear;

    &:hover {
      text-decoration: none;
      color: darken($color-sitxh, 15%);
      border-bottom: 4px solid darken($color-sitxh, 15%);

    }
  }

}

@include mq-min ($screen-sm) {
  section.projects {
    .card {
      transition: transform $card-animation-speed $cubic-bezier;
      // Font smoothing on webkit to
      // not get blurry cards while scaling
      -webkit-font-smoothing: antialiased;
      &:hover {
        transform: scale(1.015);
        -ms-transform: scale(1.015);
        -webkit-transform: scale(1.015);
      }
    }
  }
}
