section.projects {

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  background-color: $color-third;

  .container {
    padding-top: $padding-sections;
    padding-bottom: $padding-sections;
  }

  h3 {
    font-size: 4rem;
    color: $color-sitxh;
  }

  .github-link {
    font-weight: bold;
    color: $color-sitxh;
    text-decoration: none;
    border-bottom: 4px solid $color-sitxh;

    &:hover {
      text-decoration: none;
      color: darken($color-sitxh, 15%);
      border-bottom: 4px solid darken($color-sitxh, 15%);

    }
  }

}

@media screen and (min-width: $screen-sm) {
  section.projects {
    .card {
      transition: transform $card-animation-speed ease-in-out;
      // Font smoothing on webkit to
      // not get blurry cards while scaling
      -webkit-font-smoothing: antialiased;
      &:hover {
        transform: scale(1.015);
        -ms-transform: scale(1.015);
        -webkit-transform: scale(1.015);
      }
    }
  }
}
