section.technologies {
  background-color: $bg-technologies-section;

  .container {
    padding-top: calc(#{$padding-sections} + 2rem);
    padding-bottom: calc(#{$padding-sections} + 3rem);
  }

  h2, h3, p, ul {
    color: white;
  }

  h2 {
    margin-top: 0px;
    font-size: 4.4rem;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  p {
    font-size: $font-size-content-lg;
  }

  .header-underline {
    height: 3px;
    width: 15%;
    background-color: transparentize(white, 0.15);
    border-radius: $border-radius-base;
  }

  ul {
    padding-top: 20px;
    columns: 2;
    list-style: none;
    padding-left: 0;
    font-size: $font-size-content-lg;
    letter-spacing: 0.1rem;
  }

  // media query for screens smaller than medium size
  @include mq-max ($screen-sm) {
    h3 {
      text-align: center;
    }
    .header-underline {
      margin: 0 auto;
      width: 20%;
    }
    ul {
      font-size: 1.8rem;
      columns: 1;
      text-align: center;
    }
    p.pssst {
      width: 100%;
      font-size: 1.4rem;
    }
  }

}
