---
layout: default
---

<section class="post">

  <div class="button-back-wrapper">
    <a class="button button-back" href="/artiklar">Alla inlägg</a>
  </div>

  <div class="container">
    <article class="content col-md-10 col-md-offset-1">
      <h1 class="title text-center">{{ page.title }}</h1>
      <h4 class="post-info text-center">
        <span class="date">
          {{ page.date | date: "%Y-%m-%d" }}            
        </span>
        <span class="reading-time">
          {% include _reading-time.html %}
        </span>
      </h4>
      {{ content }}
    </article>
  </div>
</section>
