---
layout: default
---

<section class="project">
  
  <div class="row btn-back-wrapper">
    <a class="btn-back" href="/#portfolio">Tillbaka</a>
  </div>

  <div class="row text-center hero-img-wrapper">
    <img class="hero-img" src="{{ page.image }}" alt="">
  </div>

  <div class="links text-center">
    {% if page.github %}
      <a target="_blank" href="{{ page.github }}" title="Besök {{ page.title }} på GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
    {% endif %}
    {% if page.website %}
      <a target="_blank" href="{{ page.website }}" title="Besök webbadressen"><i class="fa fa-globe" aria-hidden="true"></i></a>
    {% endif %}
    {% if page.in-progress %}
      <i class="fa fa-wrench" title="Under utveckling" aria-hidden="true"></i>
    {% endif %}

  </div>

  <div class="container">
    <article class="col-md-10 col-md-offset-1">

      <h2 class="text-center title">
        {{ page.title }}
        {% if page.in-progress %}
          <span class="tag">Under utveckling</span>
        {% endif %}
      </h2>

      <div class="tags text-center">
        {% for tag in page.tech %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>

      {{ content }}
    </article>
  </div>



</section>
